[Unit]
Description=handling of srv containers
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=srv autostart 
ExecStop=srv __off 

[Install]
WantedBy=multi-user.target
